﻿<!DOCTYPE html>
@using System.Web.Optimization

<html ng-app="appCal">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/bundles/bootstrap-css")
    @Styles.Render("~/bundles/angular-material-css")
    @Styles.Render("~/bundles/application-css")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-calc" ng-controller="layoutController as layout">
                <button type="button" class="btn-logout" ng-show="layout.isLoggedIn()" ng-click="layout.logout()">logout</button>
                @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                <a class="navbar-brand" href="#">Calories Calculator</a>
            </div>
            @*<div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"></a></li>
                    <li><a href="#about"></a></li>
                    <li><a href="#contact"></a></li>
                </ul>
            </div>*@
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery-js")
    @Scripts.Render("~/bundles/bootstrap-js")
    @Scripts.Render("~/bundles/angular-js")

    @Scripts.Render("~/bundles/caloriesApp")
</body>
</html>
