﻿<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <a ui-sref="authorization.login" ui-sref-active="active">Login</a>
                    </div>
                    <div class="col-xs-6">
                        <a ui-sref="authorization.register" ui-sref-active="active">Register</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ui-view />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>