﻿<form name="ctrl.loginForm" ng-submit="ctrl.submitLoginForm()" novalidate>
    <div class="form-group" ng-class="{'has-error': (ctrl.loginForm.$submitted || ctrl.loginForm.username.$touched && ctrl.loginForm.username.$dirty) && ctrl.loginForm.username.$invalid}">
        <input type="text" placeholder="Username" name="username" id="username" ng-model="ctrl.login.username" class="form-control" required email-address />
        <p class="help-block error" ng-show="ctrl.loginForm.username.$error.required">Field can't be empty</p>
    </div>
    <div class="form-group" ng-class="{'has-error': (ctrl.loginForm.$submitted || ctrl.loginForm.password.$touched && ctrl.loginForm.password.$dirty) && ctrl.loginForm.password.$invalid}">
        <input type="password" name="password" id="password" ng-model="ctrl.login.password" class="form-control" placeholder="Password" required />
        <p class="help-block error" ng-show="ctrl.loginForm.password.$error.required">Field can't be empty</p>
    </div>
    <div class="form-group" ng-class="{'has-error': ctrl.loginForm.$submitted && ctrl.login.invalidCredentials}">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
            </div>
        </div>
        <p class="help-block error" ng-show="ctrl.login.invalidCredentials">Username or password is entered incorrectly.</p>
        <p class="help-block error" ng-show="ctrl.login.internalError">Username or password is entered incorrectly.</p>
    </div>
</form>