﻿<form name="registerForm" ng-submit="ctrl.submitRegisterForm(registerForm)" novalidate>
    <div class="form-group" ng-class="{'has-error': (registerForm.$submitted || registerForm.username.$touched) && registerForm.username.$error.required, 'input-passed': (!registerForm.username.$invalid && registerForm.username.focus), 'input-guidance': registerForm.username.$error.emailAddress}">
        <input type="text" placeholder="Username" name="username" id="username" ng-model="ctrl.register.username" class="form-control" required email-address />
        <p class="help-block error" ng-show="registerForm.username.$error.required">Field can't be empty</p>
        <p class="help-block" ng-show="registerForm.email.$error.alreadyRegistered">This username has already been registered.</p>
    </div>
    <div class="form-group" ng-class="{'has-error': (registerForm.$submitted || registerForm.password.$touched) && registerForm.password.$error.required, 'input-passed': (!registerForm.password.$invalid && registerForm.password.focus), 'input-guidance': registerForm.password.$error.minlength || registerForm.password.$error.maxlength || registerForm.password.$error.lettersAndDigits || registerForm.password.$error.oneLowerCase || registerForm.password.$error.oneUpperCase || registerForm.password.$error.oneDigit}">
        <input type="password" name="password" id="password" ng-model="ctrl.register.password" class="form-control" placeholder="Password" required ng-minlength="7" ng-maxlength="32" letters-and-digits one-lower-case one-upper-case one-digit/>
        <p class="help-block error" ng-show="registerForm.password.$error.required">Field can't be empty</p>
        <p class="help-block guidance-text" ng-show="registerForm.password.$error.minlength">Must contain at least 7 characters.</p>
        <p class="help-block guidance-text" ng-show="registerForm.password.$error.maxlength">May not be longer than 32 characters.</p>
        <p class="help-block guidance-text" ng-show="registerForm.password.$error.lettersAndDigits">Only letters from the English alphabet and digits are allowed.</p>
        <p class="help-block guidance-text" ng-show="registerForm.password.$error.oneLowerCase">Must contain at least one lower case letter.</p>
        <p class="help-block guidance-text" ng-show="registerForm.password.$error.oneUpperCase">Must contain at least one upper case letter.</p>
        <p class="help-block guidance-text" ng-show="registerForm.password.$error.oneDigit">Must contain at least one digit.</p>
    </div>
    <div class="form-group" ng-class="{'has-error': (registerForm.$submitted || registerForm.confirmedPassword.$touched) && registerForm.confirmedPassword.$error.required, 'input-passed': (!registerForm.confirmedPassword.$invalid && registerForm.confirmedPassword.focus), 'input-guidance': (registerForm.confirmedPassword.$error.match && registerForm.confirmedPassword.$dirty)}">
        <input type="password" name="confirmedPassword" id="confirmedPassword" ng-model="ctrl.register.confirmedPassword" class="form-control" placeholder="Confirm password" required match="registerForm.password" />
        <p class="help-block error" ng-show="registerForm.confirmedPassword.$error.required">Field can't be empty</p>
        <p class="help-block guidance-text" ng-show="registerForm.confirmedPassword.$error.match">The two passwords must match.</p>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
            </div>
        </div>
    </div>
</form>