﻿<table class="table table-hover" ng-hide="ctrl.meals.length == 0">
    <thead>
        <tr>
            <th>Meal description</th>
            <th>Calories amount</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="clickable-row" ng-repeat="meal in ctrl.meals">
            <td><div>{{::meal.Description}}</div></td>
            <td><div>{{::meal.Calories}}</div></td>
            <td><div>{{::meal.DateTime}}</div></td>
            <td><div class="btn" ng-click="ctrl.delete(meal.Id)">delete</div></td>
            <td><div class="btn" ng-click="ctrl.showEditDialog(meal.Id)">edit</div></td>
        </tr>
    </tbody>
</table>
<div ng-show="ctrl.meals.length == 0">
    There is no meals to show
</div>
<div ng-model="meal" ng-show="ctrl.isAdding">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td><div>Meal description: </div></td>
                <td><input ng-model="meal.Description" /></td>
            </tr>
            <tr>
                <td><div>Calories amount: </div></td>
                <td><input ng-model="meal.Calories" /></td>
            </tr>
        </tbody>
    </table>
    <div class="btn" ng-click="ctrl.okAddDialog(meal)">ok</div>
    <div class="btn" ng-click="ctrl.cancelAddDialog()">cancel</div>
</div>

<div class="btn" ng-show="!ctrl.isAdding" ng-click="ctrl.showAddDialog()">add</div>
